In [1]:
import madina as md
import madina.una.tools as una
import multiprocessing
import pandas as pd

In [2]:
Bancho = md.Zonal()

In [3]:
Bancho.load_layer("Buildings",r"C:\Users\86135\OneDrive - Georgia Institute of Technology\桌面\上完的课程\Tokyo Studio\Bancho\Madina_Bancho\Bancho_origin.geojson")
Bancho.load_layer("Sidewalk",r"C:\Users\86135\OneDrive - Georgia Institute of Technology\桌面\Madina_Bancho\Pedestrian_Rds_new.geojson")
Bancho.load_layer("Shelter",r"C:\Users\86135\OneDrive - Georgia Institute of Technology\桌面\Madina_Bancho\shelter.geojson")

In [4]:
Bancho.describe()

Layer name           | Visible | projection | rows  | File path
Buildings            |       1 | EPSG:32654 |  1280 | C:\Users\86135\OneDrive - Georgia Institute of Technology\桌面\上完的课程\Tokyo Studio\Bancho\Madina_Bancho\Bancho_origin.geojson
Sidewalk             |       1 | EPSG:32654 | 26239 | C:\Users\86135\OneDrive - Georgia Institute of Technology\桌面\Madina_Bancho\Pedestrian_Rds_new.geojson
Shelter              |       1 | EPSG:32654 |    33 | C:\Users\86135\OneDrive - Georgia Institute of Technology\桌面\Madina_Bancho\shelter.geojson
Geographic center: (139.7395280012337, 35.68861437819869)
No network graph yet. First, insert a layer that contains network segments (streets, sidewalks, ..) and call create_street_network(layer_name,  weight_attribute=None)
	Then,  insert origins and destinations using 'insert_nodes(label, layer_name, weight_attribute)'
	Finally, when done, create a network by calling 'create_street_network()'

In [5]:
Bancho["Sidewalk"].gdf["weighted"] = Bancho["Sidewalk"].gdf["Shape_Length"] * (1+1*Bancho["Sidewalk"].gdf["tanθ"])

In [6]:
Bancho["Sidewalk"].gdf

,OBJECTID,OBJECTID_1,OBJECTID_12,MEAN,OBJECTID_12_13,OBJECTID_12_13_14,osm_id,code,fclass,name,...,ORIG_FID,ORIG_SEQ,OBJECTID_12_13_14_15,OBJECTID_12_13_14_15_16,COUNT,AREA,Shape_Length,tanθ,geometry,weighted
id,,,,,,,,,,,,,,,,,,,,,
0,1,1,1.0,0.832267,1.0,1.0,22730615,5153.0,footway,,...,1.0,1.0,1.0,1.0,104.0,104.0,77.371581,0.008323,"LINESTRING (387668.845 3950051.937, 387674.891...",78.015519
1,2,2,2.0,2.878320,2.0,2.0,23044299,5115.0,tertiary,プリンス通り,...,2.0,1.0,2.0,2.0,9.0,9.0,7.741717,0.028783,"LINESTRING (385834.93 3949137.649, 385834.323 ...",7.964549
2,3,3,3.0,1.667499,3.0,2.0,23044299,5115.0,tertiary,プリンス通り,...,2.0,4.0,3.0,3.0,21.0,21.0,18.459250,0.016675,"LINESTRING (385834.311 3949145.622, 385833.431...",18.767058
3,4,4,4.0,1.142005,4.0,2.0,23044299,5115.0,tertiary,プリンス通り,...,2.0,3.0,4.0,4.0,1.0,1.0,0.254987,0.011420,"LINESTRING (385834.323 3949145.367, 385834.311...",0.257899
4,5,5,5.0,1.688305,5.0,2.0,23044299,5115.0,tertiary,プリンス通り,...,2.0,5.0,5.0,5.0,119.0,119.0,111.695357,0.016883,"LINESTRING (385833.431 3949164.06, 385828.131 ...",113.581116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26234,26235,26236,26240.0,2.750000,NaN,NaN,None,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,0.591785,0.027500,"LINESTRING (386457.33 3951647.436, 386457.836 ...",0.608059
26235,26236,26237,26241.0,2.750000,NaN,NaN,None,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,0.591785,0.027500,"LINESTRING (386457.836 3951647.744, 386457.33 ...",0.608059
26236,26237,26238,26242.0,2.571202,NaN,NaN,None,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,0.065935,0.025712,"LINESTRING (385722.116 3948843.533, 385722.095...",0.067631
26237,26238,26239,26243.0,32.691180,NaN,NaN,None,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,2.746739,0.326912,"LINESTRING (387123.088 3951265.73, 387125.705 ...",3.644681
26238,26239,26240,NaN,2.957248,NaN,NaN,None,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,5.692846,0.029572,"LINESTRING (387385.77 3951254.797, 387387.939 ...",5.861198

In [7]:
Bancho.create_street_network("Sidewalk", node_snapping_tolerance=0.1,weight_attribute="weighted")
Bancho.insert_node(label='origin', layer_name="Buildings",weight_attribute="pop_adj")
Bancho.insert_node(label='destination', layer_name="Shelter")

In [8]:
Bancho['Sidewalk'].gdf.loc[9272]

OBJECTID                                                                9273
OBJECTID_1                                                              9274
OBJECTID_12                                                           9275.0
MEAN                                                                2.826101
OBJECTID_12_13                                                        9293.0
OBJECTID_12_13_14                                                     2798.0
osm_id                                                             687183120
code                                                                  5153.0
fclass                                                               footway
name
ref
oneway                                                                     B
maxspeed                                                                 0.0
layer                                                                    0.0
bridge                                                                     F
tunnel                                                                     F
ORIG_FID                                                              2798.0
ORIG_SEQ                                                                 1.0
OBJECTID_12_13_14_15                                                  9275.0
OBJECTID_12_13_14_15_16                                               9275.0
COUNT                                                                    6.0
AREA                                                                     6.0
Shape_Length                                                        3.384834
tanθ                                                                0.028261
geometry                   LINESTRING (387553.36510000005 3950857.1228, 3...
weighted                                                            3.480493
weight                                                              3.480493
Name: 9272, dtype: object

In [9]:
Bancho.create_graph()

In [10]:
search_radii = [500, 1000, 1500]

for i in search_radii:
    una.accessibility(Bancho, search_radius=i, 
                  save_reach_as= f"reach_to_Shelter_{i}",
                  beta= 0.001,
                  knn_weights=[0.5,0.25,0.25],
                  num_cores= 32)
    
    df = Bancho["Buildings"].gdf
    print(df[f'reach_to_Shelter_{i}'].describe())
    print(f"Completed accessibility for radius: {i}m")

count    1280.000000 1,280 of 1,280 origins (100.00%)]
mean        2.581250
std         1.221245
min         0.000000
25%         2.000000
50%         2.000000
75%         4.000000
max         6.000000
Name: reach_to_Shelter_500, dtype: float64
Completed accessibility for radius: 500m
count    1280.000000 1,280 of 1,280 origins (100.00%)]
mean        9.414062
std         1.878762
min         1.000000
25%         9.000000
50%         9.000000
75%        10.000000
max        14.000000
Name: reach_to_Shelter_1000, dtype: float64
Completed accessibility for radius: 1000m
count    1280.000000 1,280 of 1,280 origins (100.00%)]
mean       16.167188
std         2.188573
min        11.000000
25%        15.000000
50%        16.000000
75%        17.000000
max        23.000000
Name: reach_to_Shelter_1500, dtype: float64
Completed accessibility for radius: 1500m

In [10]:
import matplotlib.pyplot as plt

In [11]:
df

,OBJECTID,OBJECTID_1,OBJECTID_12,OBJECTID_12_13,OBJECTID_12_13_14,Join_Count,TARGET_FID,Join_Count_1,TARGET_FID_1,osm_id,...,Volume_individual,Pop,ratio,pop_each_building,pop_each_building_int,pop_adj,geometry,reach_to_Shelter_500,reach_to_Shelter_1000,reach_to_Shelter_1500
id,,,,,,,,,,,,,,,,,,,,,
0,1,1,2,2,12,1,12,1,12,132804462,...,52901.075525,81,0.247973,20.085825,20,36,POINT (386130.794 3950169.648),2.0,9.0,16.0
1,2,2,3,3,13,1,13,1,13,132804554,...,37486.256639,81,0.175716,14.233026,14,25,POINT (386114.833 3950152.829),0.0,9.0,16.0
2,3,3,4,4,14,1,14,1,14,132804555,...,60706.617534,81,0.284562,23.049485,23,42,POINT (386055.275 3950141.967),3.0,9.0,19.0
3,4,4,5,5,15,1,15,1,15,132804556,...,32258.777689,81,0.151213,12.248223,12,22,POINT (386081.352 3950149.894),2.0,9.0,19.0
4,5,5,6,6,16,1,16,1,16,133039957,...,13857.064614,83,0.085421,7.089927,7,13,POINT (386179.507 3950172.379),0.0,7.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,1276,1293,1860,1860,4765,1,4861,1,4765,1427996762,...,4715.834723,60,0.082376,4.942589,5,9,POINT (386612.663 3950654.686),1.0,8.0,18.0
1276,1277,1294,1861,1861,4766,1,4862,1,4766,1427996763,...,6704.826840,60,0.117120,7.027220,7,13,POINT (386617.711 3950636.124),1.0,8.0,18.0
1277,1278,1295,1862,1862,4767,1,4863,1,4767,1427996764,...,7219.193535,42,0.151548,6.365011,6,11,POINT (386620.14 3950720.466),1.0,9.0,16.0
1278,1279,1296,1863,1863,4768,1,4864,1,4768,1427996765,...,2379.619628,67,0.008018,0.537190,1,2,POINT (386548.984 3950653.762),1.0,9.0,18.0
1279,1280,1297,1864,1864,4769,1,4865,1,4769,1427996766,...,941.279837,67,0.003171,0.212490,1,2,POINT (386546.548 3950647.141),1.0,9.0,18.0

In [12]:
df.to_file('reach_to_Shelter_Boston.geojson', driver='GeoJSON')