In [1]:
import madina as md
import madina.una.tools as una

import multiprocessing
print(multiprocessing.cpu_count())

32

In [2]:
Bancho = md.Zonal()

In [3]:
Bancho.load_layer("Buildings",r"C:\Users\86135\OneDrive - Georgia Institute of Technology\桌面\上完的课程\Tokyo Studio\Bancho\Madina_Bancho\Bancho_origin.geojson")
Bancho.load_layer("Sidewalk",r"C:\Users\86135\OneDrive - Georgia Institute of Technology\桌面\上完的课程\Tokyo Studio\Bancho\Pedestrian_Rds_new.geojson")
Bancho.load_layer("Park",r"C:\Users\86135\OneDrive - Georgia Institute of Technology\桌面\上完的课程\Tokyo Studio\Bancho\Madina_Bancho\park.geojson")

In [4]:
Bancho.describe()

Layer name           | Visible | projection | rows  | File path
Buildings            |       1 | EPSG:32654 |  1280 | C:\Users\86135\OneDrive - Georgia Institute of Technology\桌面\上完的课程\Tokyo Studio\Bancho\Madina_Bancho\Bancho_origin.geojson
Sidewalk             |       1 | EPSG:32654 | 26239 | C:\Users\86135\OneDrive - Georgia Institute of Technology\桌面\上完的课程\Tokyo Studio\Bancho\Pedestrian_Rds_new.geojson
Park                 |       1 | EPSG:32654 |    70 | C:\Users\86135\OneDrive - Georgia Institute of Technology\桌面\上完的课程\Tokyo Studio\Bancho\Madina_Bancho\park.geojson
Geographic center: (139.7395280012337, 35.68861437819869)
No network graph yet. First, insert a layer that contains network segments (streets, sidewalks, ..) and call create_street_network(layer_name,  weight_attribute=None)
	Then,  insert origins and destinations using 'insert_nodes(label, layer_name, weight_attribute)'
	Finally, when done, create a network by calling 'create_street_network()'

In [5]:
df= Bancho["Sidewalk"].gdf
df

,OBJECTID,MEAN,OBJECTID_1,OBJECTID_12,osm_id,code,fclass,name,ref,oneway,...,tunnel,ORIG_FID,ORIG_SEQ,OBJECTID_12_13,OBJECTID_12_13_14,COUNT,AREA,Shape_Length,Weighted,geometry
id,,,,,,,,,,,,,,,,,,,,,
0,1,0.832267,1.0,1.0,22730615,5153.0,footway,,,B,...,F,1.0,1.0,1.0,1.0,104.0,104.0,77.371581,0.002729,"LINESTRING (387668.845 3950051.937, 387674.891..."
1,2,2.878320,2.0,2.0,23044299,5115.0,tertiary,プリンス通り,,B,...,F,2.0,1.0,2.0,2.0,9.0,9.0,7.741717,0.012373,"LINESTRING (385834.93 3949137.649, 385834.323 ..."
2,3,1.667499,3.0,2.0,23044299,5115.0,tertiary,プリンス通り,,B,...,F,2.0,4.0,3.0,3.0,21.0,21.0,18.459250,0.006666,"LINESTRING (385834.311 3949145.622, 385833.431..."
3,4,1.142005,4.0,2.0,23044299,5115.0,tertiary,プリンス通り,,B,...,F,2.0,3.0,4.0,4.0,1.0,1.0,0.254987,0.004189,"LINESTRING (385834.323 3949145.367, 385834.311..."
4,5,1.688305,5.0,2.0,23044299,5115.0,tertiary,プリンス通り,,B,...,F,2.0,5.0,5.0,5.0,119.0,119.0,111.695357,0.006764,"LINESTRING (385833.431 3949164.06, 385828.131 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26234,26239,2.700000,NaN,NaN,None,NaN,None,None,None,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,4.379736,0.011533,"LINESTRING (386462.16 3951650.376, 386458.419 ..."
26235,26240,2.750000,NaN,NaN,None,NaN,None,None,None,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,0.591785,0.011768,"LINESTRING (386457.33 3951647.436, 386457.836 ..."
26236,26241,2.750000,NaN,NaN,None,NaN,None,None,None,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,0.591785,0.011768,"LINESTRING (386457.836 3951647.744, 386457.33 ..."
26237,26242,NaN,NaN,NaN,None,NaN,None,None,None,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,0.065935,2.571202,"LINESTRING (385722.116 3948843.533, 385722.095..."
26238,26243,NaN,NaN,NaN,None,NaN,None,None,None,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,2.746739,32.691180,"LINESTRING (387123.088 3951265.73, 387125.705 ..."

In [6]:
Bancho.create_street_network( source_layer= "Sidewalk", node_snapping_tolerance= 0.1,weight_attribute="Weighted")

In [7]:
Bancho.insert_node(layer_name='Buildings',label="origin",weight_attribute='pop_adj')
Bancho.insert_node(layer_name='Park',label="destination")

In [8]:
Bancho.create_graph()

In [9]:
una.betweenness(
    Bancho,
    search_radius = 500,
    detour_ratio=1.05,
    decay=True,
    decay_method="exponent",
    beta=0.001,
    turn_penalty=False,
    closest_destination=False,
    num_cores=32,
    save_betweenness_as="Home_to_Park")

In [ ]:
Bancho['Sidewalk'].gdf

,OBJECTID,MEAN,OBJECTID_1,OBJECTID_12,osm_id,code,fclass,name,ref,oneway,...,ORIG_SEQ,OBJECTID_12_13,OBJECTID_12_13_14,COUNT,AREA,Shape_Length,Weighted,geometry,weight,Home_to_Park
id,,,,,,,,,,,,,,,,,,,,,
0,1,0.832267,1.0,1.0,22730615,5153.0,footway,,,B,...,1.0,1.0,1.0,104.0,104.0,77.371581,0.002729,"LINESTRING (387668.845 3950051.937, 387674.891...",0.010000,0.0
1,2,2.878320,2.0,2.0,23044299,5115.0,tertiary,プリンス通り,,B,...,1.0,2.0,2.0,9.0,9.0,7.741717,0.012373,"LINESTRING (385834.93 3949137.649, 385834.323 ...",0.012373,0.0
2,3,1.667499,3.0,2.0,23044299,5115.0,tertiary,プリンス通り,,B,...,4.0,3.0,3.0,21.0,21.0,18.459250,0.006666,"LINESTRING (385834.311 3949145.622, 385833.431...",0.010000,0.0
3,4,1.142005,4.0,2.0,23044299,5115.0,tertiary,プリンス通り,,B,...,3.0,4.0,4.0,1.0,1.0,0.254987,0.004189,"LINESTRING (385834.323 3949145.367, 385834.311...",0.010000,0.0
4,5,1.688305,5.0,2.0,23044299,5115.0,tertiary,プリンス通り,,B,...,5.0,5.0,5.0,119.0,119.0,111.695357,0.006764,"LINESTRING (385833.431 3949164.06, 385828.131 ...",0.010000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26234,26239,2.700000,NaN,NaN,None,NaN,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,4.379736,0.011533,"LINESTRING (386462.16 3951650.376, 386458.419 ...",0.011533,NaN
26235,26240,2.750000,NaN,NaN,None,NaN,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,0.591785,0.011768,"LINESTRING (386457.33 3951647.436, 386457.836 ...",0.011768,0.0
26236,26241,2.750000,NaN,NaN,None,NaN,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,0.591785,0.011768,"LINESTRING (386457.836 3951647.744, 386457.33 ...",0.011768,NaN
26237,26242,NaN,NaN,NaN,None,NaN,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,0.065935,2.571202,"LINESTRING (385722.116 3948843.533, 385722.095...",2.571202,NaN
26238,26243,NaN,NaN,NaN,None,NaN,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,2.746739,32.691180,"LINESTRING (387123.088 3951265.73, 387125.705 ...",32.691180,NaN

In [ ]:
Bancho['Sidewalk'].gdf.to_file('Sidewalks_Homes_to_Park_Bancho.geojson', driver='GeoJSON')

In [ ]:
print("test")