In [1]:
import madina as md
import madina.una.tools as una

import multiprocessing
print(multiprocessing.cpu_count())

32

In [2]:
Bancho = md.Zonal()

In [3]:
Bancho.load_layer("Buildings",r"C:\Users\86135\OneDrive - Georgia Institute of Technology\桌面\上完的课程\Tokyo Studio\Bancho\Madina_Bancho\Bancho_origin.geojson")
Bancho.load_layer("Sidewalk",r"C:\Users\86135\OneDrive - Georgia Institute of Technology\桌面\Madina_Bancho\Pedestrian_Rds_new.geojson")
Bancho.load_layer("Clinic",r"C:\Users\86135\OneDrive - Georgia Institute of Technology\桌面\Madina_Bancho\Healthcare_POIs.geojson")

In [4]:
Bancho.describe()

Layer name           | Visible | projection | rows  | File path
Buildings            |       1 | EPSG:32654 |  1280 | C:\Users\86135\OneDrive - Georgia Institute of Technology\桌面\上完的课程\Tokyo Studio\Bancho\Madina_Bancho\Bancho_origin.geojson
Sidewalk             |       1 | EPSG:32654 | 26239 | C:\Users\86135\OneDrive - Georgia Institute of Technology\桌面\Madina_Bancho\Pedestrian_Rds_new.geojson
Clinic               |       1 | EPSG:32654 |    47 | C:\Users\86135\OneDrive - Georgia Institute of Technology\桌面\Madina_Bancho\Healthcare_POIs.geojson
Geographic center: (139.7395280012337, 35.68861437819869)
No network graph yet. First, insert a layer that contains network segments (streets, sidewalks, ..) and call create_street_network(layer_name,  weight_attribute=None)
	Then,  insert origins and destinations using 'insert_nodes(label, layer_name, weight_attribute)'
	Finally, when done, create a network by calling 'create_street_network()'

In [5]:
Bancho["Sidewalk"].gdf["weighted"] = Bancho["Sidewalk"].gdf["Shape_Length"] * (1+1*Bancho["Sidewalk"].gdf["tanθ"])

In [6]:
df= Bancho["Sidewalk"].gdf
df

,OBJECTID,OBJECTID_1,OBJECTID_12,MEAN,OBJECTID_12_13,OBJECTID_12_13_14,osm_id,code,fclass,name,...,ORIG_FID,ORIG_SEQ,OBJECTID_12_13_14_15,OBJECTID_12_13_14_15_16,COUNT,AREA,Shape_Length,tanθ,geometry,weighted
id,,,,,,,,,,,,,,,,,,,,,
0,1,1,1.0,0.832267,1.0,1.0,22730615,5153.0,footway,,...,1.0,1.0,1.0,1.0,104.0,104.0,77.371581,0.008323,"LINESTRING (387668.845 3950051.937, 387674.891...",78.015519
1,2,2,2.0,2.878320,2.0,2.0,23044299,5115.0,tertiary,プリンス通り,...,2.0,1.0,2.0,2.0,9.0,9.0,7.741717,0.028783,"LINESTRING (385834.93 3949137.649, 385834.323 ...",7.964549
2,3,3,3.0,1.667499,3.0,2.0,23044299,5115.0,tertiary,プリンス通り,...,2.0,4.0,3.0,3.0,21.0,21.0,18.459250,0.016675,"LINESTRING (385834.311 3949145.622, 385833.431...",18.767058
3,4,4,4.0,1.142005,4.0,2.0,23044299,5115.0,tertiary,プリンス通り,...,2.0,3.0,4.0,4.0,1.0,1.0,0.254987,0.011420,"LINESTRING (385834.323 3949145.367, 385834.311...",0.257899
4,5,5,5.0,1.688305,5.0,2.0,23044299,5115.0,tertiary,プリンス通り,...,2.0,5.0,5.0,5.0,119.0,119.0,111.695357,0.016883,"LINESTRING (385833.431 3949164.06, 385828.131 ...",113.581116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26234,26235,26236,26240.0,2.750000,NaN,NaN,None,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,0.591785,0.027500,"LINESTRING (386457.33 3951647.436, 386457.836 ...",0.608059
26235,26236,26237,26241.0,2.750000,NaN,NaN,None,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,0.591785,0.027500,"LINESTRING (386457.836 3951647.744, 386457.33 ...",0.608059
26236,26237,26238,26242.0,2.571202,NaN,NaN,None,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,0.065935,0.025712,"LINESTRING (385722.116 3948843.533, 385722.095...",0.067631
26237,26238,26239,26243.0,32.691180,NaN,NaN,None,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,2.746739,0.326912,"LINESTRING (387123.088 3951265.73, 387125.705 ...",3.644681
26238,26239,26240,NaN,2.957248,NaN,NaN,None,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,5.692846,0.029572,"LINESTRING (387385.77 3951254.797, 387387.939 ...",5.861198

In [7]:
Bancho.create_street_network( source_layer= "Sidewalk", node_snapping_tolerance= 0.1,weight_attribute="weighted")

In [8]:
Bancho.insert_node(layer_name='Buildings',label="origin",weight_attribute='pop_adj')
Bancho.insert_node(layer_name='Clinic',label="destination")

In [9]:
Bancho.create_graph()

In [ ]:
una.betweenness(
    Bancho,
    search_radius = 500,
    detour_ratio=1.05,
    decay=True,
    decay_method="exponent",
    beta=0.001,
    turn_penalty=False,
    closest_destination=False,
    num_cores=32,
    save_betweenness_as="Home_to_Clinic")

In [12]:
Bancho['Sidewalk'].gdf

,OBJECTID,OBJECTID_1,OBJECTID_12,MEAN,OBJECTID_12_13,OBJECTID_12_13_14,osm_id,code,fclass,name,...,OBJECTID_12_13_14_15,OBJECTID_12_13_14_15_16,COUNT,AREA,Shape_Length,tanθ,geometry,weighted,weight,Home_to_Shelter
id,,,,,,,,,,,,,,,,,,,,,
0,1,1,1.0,0.832267,1.0,1.0,22730615,5153.0,footway,,...,1.0,1.0,104.0,104.0,77.371581,0.008323,"LINESTRING (387668.845 3950051.937, 387674.891...",78.015519,78.015519,NaN
1,2,2,2.0,2.878320,2.0,2.0,23044299,5115.0,tertiary,プリンス通り,...,2.0,2.0,9.0,9.0,7.741717,0.028783,"LINESTRING (385834.93 3949137.649, 385834.323 ...",7.964549,7.964549,0.000000
2,3,3,3.0,1.667499,3.0,2.0,23044299,5115.0,tertiary,プリンス通り,...,3.0,3.0,21.0,21.0,18.459250,0.016675,"LINESTRING (385834.311 3949145.622, 385833.431...",18.767058,18.767058,0.000000
3,4,4,4.0,1.142005,4.0,2.0,23044299,5115.0,tertiary,プリンス通り,...,4.0,4.0,1.0,1.0,0.254987,0.011420,"LINESTRING (385834.323 3949145.367, 385834.311...",0.257899,0.257899,0.000000
4,5,5,5.0,1.688305,5.0,2.0,23044299,5115.0,tertiary,プリンス通り,...,5.0,5.0,119.0,119.0,111.695357,0.016883,"LINESTRING (385833.431 3949164.06, 385828.131 ...",113.581116,113.581116,28.897133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26234,26235,26236,26240.0,2.750000,NaN,NaN,None,NaN,None,None,...,NaN,NaN,NaN,NaN,0.591785,0.027500,"LINESTRING (386457.33 3951647.436, 386457.836 ...",0.608059,0.608059,0.000000
26235,26236,26237,26241.0,2.750000,NaN,NaN,None,NaN,None,None,...,NaN,NaN,NaN,NaN,0.591785,0.027500,"LINESTRING (386457.836 3951647.744, 386457.33 ...",0.608059,0.608059,NaN
26236,26237,26238,26242.0,2.571202,NaN,NaN,None,NaN,None,None,...,NaN,NaN,NaN,NaN,0.065935,0.025712,"LINESTRING (385722.116 3948843.533, 385722.095...",0.067631,0.067631,NaN
26237,26238,26239,26243.0,32.691180,NaN,NaN,None,NaN,None,None,...,NaN,NaN,NaN,NaN,2.746739,0.326912,"LINESTRING (387123.088 3951265.73, 387125.705 ...",3.644681,3.644681,NaN
26238,26239,26240,NaN,2.957248,NaN,NaN,None,NaN,None,None,...,NaN,NaN,NaN,NaN,5.692846,0.029572,"LINESTRING (387385.77 3951254.797, 387387.939 ...",5.861198,5.861198,0.000000

In [ ]:
Bancho['Sidewalk'].gdf.to_file('Sidewalks_Homes_to_Clinic_Bancho.geojson', driver='GeoJSON')